  <link rel="stylesheet" href="/stylesheets/login.css">

<div id="login-form">
  <div class="titles">
  <div class="login">
  <h2 class="log-in-title">Log In</h2>
  <p class="sub-title">Let's get started!</p>
  </div>
  <form action="/auth/login" method="POST">

    <label>
      <input type="text" name="username" placeholder="Your Username" />
    </label>

    <label> 
      <input type="email" name="email" placeholder="Your Email" />
    </label>

    <label> 
      <input type="password" name="password" placeholder="Your Password" />
    </label>

    <button type="submit" class="log-sign-btn">Log In</button>

    <div>
        <p>Don't have an account yet? <a class="sign-up-link" href="/signup">Sign Up</a></p> 
    </div>

   {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}} 

    
  </form>
{{!-- 
  <form href="/signup"></form>
    <div>
        <button type="submit" class="XYYZ">Sign Up</button>
    </div>
--}}

</div>