  <link rel="stylesheet" href="stylesheets/login.css">

<div id="login-form">
  <div class="titles">
  <div class="login">
  <h2 class="log-in-title">Log In</h2>
  <p class="sub-title">Let's get started!</p>
  </div>
  <form action="/auth/login" method="POST">

    <label>
      <input type="text" name="username" placeholder="Your Username" />
    </label>

    <label> 
      <input type="email" name="email" placeholder="Your Email" />
    </label>

    <label> 
      <input type="password" name="password" placeholder="Your Password" />
    </label>

    <button type="submit" class="log-sign-btn">Log In</button>


   {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}} 
  </form>
</div>