  <link rel="stylesheet" href="/stylesheets/logout.css">

  <h1>Sorry to see you go :(</h1>

  <a href="/">Homepage</a>















{{!-- this file is only shown whenever there is an error during log out --}}
{{#if errorMessage}}
    {{errorMessage}}
{{/if}}

