  <link rel="stylesheet" href="/stylesheets/style.css">

<body>
    <section>
        <div class="single-message-page">
            <div class="logout-message">
              <h1>Sorry to see you go :(</h1> 
            </div>
            <div class="back-to-homepage-message">
            <p>Go back to the <a href="/">homepage</a></p>
            </div>
        </div>
    </section>
</body>











{{!-- this file is only shown whenever there is an error during log out --}}
{{#if errorMessage}}
    {{errorMessage}}
{{/if}}

