<link rel="stylesheet" href="stylesheets/signup.css">
<div id="form">
<div class="titles">
  <div class="sign-up">
  <h2 class="sign-up-title">Sign Up</h2>
  <p class="sub-title">Let's get started!</p>
  </div>
  <form class="sign-up-form" action="/auth/signup" method="POST">

    <label> 
      <input type="text" name="username" placeholder="Your username" />
    </label>

    <label>
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label> 
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <button type="submit" class="signup-btn log-sign-btn">Sign Up</button>


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>