<link rel="stylesheet" href="/stylesheets/style.css">

<h1>My profile</h1>

<p> O meu perifleeeeeeeee lelelele</p>

<div id="edit-profile-form">
  
  <form action="/auth/login" method="POST">


    {{#each user}}
    <label>
      Username
      <input type="text" name="username" value="{{username}}" />
    </label>

    <label>
      Email
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label>
      Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <button type="submit">Edit your profile! </button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
{{/each}}
  <a href="/profile"><button>back to profile page</button></a>

  
</div>  