  <link rel="stylesheet" href="/stylesheets/style.css" /> 
<body>
    <section class="error-server-page">
        <div class="single-message-page">
            <h1>Error 500! Check the console!</h1>
        </div>
    </section>
</body>
