  <link rel="stylesheet" href="/stylesheets/style.css" /> 
  
    <header class="header">
      

      <div class="title-container">
        <h1 class="main-title">
          <span class="main-title-primary">Track my health</span>
          <span class="main-title-secondary">from grandma's table, to yours</span>
        </h1>
        <div class="log-sign-btn-container">
          <a href="/auth/login"><button
              type="button"
              class="login-btn log-sign-btn"
            >Login</button></a>

          <a href="/auth/signup"><button
              type="button"
              class="signup-btn log-sign-btn"
            >Sign Up</button></a>

        </div>
      </div>
    </header>
    <main>
 {{!-- section 1--}}
    <section class="section-about">

        <div class="center-h2-title">
          <h2 class="h2-title-about">Plan your meals like grandma would!</h2>
        </div>
      
        <div class="section-about-middle">

          <div class="section-about-text-container">
            <article class="section-about-article">
              <h3 class="section-about-title1">
                Plenty of recipes, custom-made mealplans and nutrition info, all in one place
              </h3> <br>
              <p class="paragraph">Mealplanning is the key to success! You prefer meat or rather vegetarian? We have all the options available for you.
              </p>
            </article>

            <article class="section-about-article">
              <h3 class="section-about-title1">Some small title for us to place
                here</h3>
              <p class="paragraph">Lorem, ipsum dolor sit amet consectetur
                adipisicing elit. Ullam magni animi nobis incidunt amet aliquam
                commodi, suscipit
              </p>
            </article>

            <a href="/auth/signup"><button type="button" class="log-sign-btn">Sign up!</button></a>
            
          </div>
 
          <div class="section-about-images-container">
            <img
              src="/images/meal.jpg"
              alt="healthy-meal"
              class="about-images about-photo-1"
            />
            <!--
            <img
              src="images/breadhouse.jpg"
              alt="bread house"
              class="about-images about-photo-2"
            />
            <img
              src="images/breadhouse.jpg"
              alt="bread house"
              class="about-images about-photo-3"
            /> -->
          </div>
        </div>

      </section> 
{{!-- section 2--}}
    </main>