<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
    <title>Track my health</title>




    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


    {{! CSS page link }}


  
    {{! font family link }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    {{! favicon link }}
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  </head>

  <body>
<nav class="nav">
          <div class="container">
            
           <div class="logo-box">
             <a href="/"><img src="/images/logo.png" alt="logo" class="logo" /></a>
           </div>  
          <div class="navigation-menu" id="mainListDiv">
            <ul>
              <li><a href="/" class="navbar-link"><button>Home</button></a></li>
              <li><a href="/profile" class="navbar-link"><button>Profile</button></a></li>
              <li><a href="/logout" class="navbar-link"><button>Log Out</button></a></li>
            </ul>
            </div>
          </div>
        </nav>

    {{{body}}}

    <footer class="footer">
          
            <!-- change foto and size and add link API and add our names -->
          <div>
            <p class="footer-text"><img src="/images/favicon.ico"> Made with API EDAMAM by Paulo Caetano & Eveline Coenegrachts </p>
            </div>
         
        </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="/js/script.js"></script>
  </body>

</html>