<link rel="stylesheet" href="/stylesheets/style.css">

<h1> Profile </h1>


<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam ex nisi molestiae et quo! Deserunt illo dolorem aspernatur qui nesciunt aliquid voluptate saepe ut dolore alias quia harum, at eaque?
Modi vel quos ipsum molestias consectetur fugiat dolore illo optio voluptatem nostrum! Consequuntur beatae quibusdam repellendus facilis pariatur. Rerum saepe pariatur iure, ullam vel soluta ducimus eius nisi ad officiis.
</p>

<a href="/profile/my-recipes"><button>My recipes</button></a>

<br>

<a href="/profile/my-mealplan"><button>My Mealplan</button></a>

<br>

<a href="/profile/favorites"><button>My favorites</button></a>

<br>

<a href="/profile/edit-profile"><button>Edit my profile</button></a>

<br>

<a href="/logout">Logout</a>

<br>

<a href="/"><button>back to Home page</button></a>