<link rel="stylesheet" href="/stylesheets/style.css">


<section class="profile">
    <div class="profile-intro">
        <div class="profile-title">
        <h1> Profile </h1>
        </div>
        <div></div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam ex nisi molestiae et quo! Deserunt illo dolorem aspernatur qui nesciunt aliquid voluptate saepe ut dolore alias quia harum, at eaque?
        Modi vel quos ipsum molestias consectetur fugiat dolore illo optio voluptatem nostrum! Consequuntur beatae quibusdam repellendus facilis pariatur. Rerum saepe pariatur iure, ullam vel soluta ducimus eius nisi ad officiis.
        </p>
        </div>

    </div>
</section>

<section class="profile-containers">
    <div class="my-blocks">
        
        <div href="/profile/my-recipes" class="block">
            <div class="column">
                <img class="profile-images" src="/images/logo.png" alt="recipe-image">
                <h3>Find the perfect recipe</h3>
                <p> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                <a href="/profile/my-recipes"><button class="log-sign-btn">My recipes</button></a>
            </div>
        </div>
        <br>

        <div href="/profile/my-mealplan" class="block">
            <div class="column">
               <img class="profile-images" src="/images/logo.png" alt="recipe-image">
                <h3>Your custom-made mealplan</h3>
                <p> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                <a href="/profile/my-mealplan"><button class="log-sign-btn">My Mealplan</button></a>
            </div>
        </div>
        <br>

        <div href="/profile/favorites" class="block">
            <div class="column">
                <img class="profile-images" src="/images/logo.png" alt="recipe-image">
                <h3>Find the perfect recipe</h3>
                <p> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                <a href="/profile/favorites"><button class="log-sign-btn">My favorites</button></a>
            </div>
        </div>
        <br>

</div>

        <div class="edit-profile-btn">
        <a href="/profile/edit-profile"><button class="log-sign-btn" id="edit-profile-btn">Edit my profile</button></a>
        </div>

    

</div>

<!-- 
<div>
<a href="/logout">Logout</a>
</div> 
<br>

<a href="/"><button>back to Home page</button></a>
-->
</section>

