  <link rel="stylesheet" href="/stylesheets/style.css" /> 


<!-- CHANGE ALL THE CLASSES ETC! --> 

<section class="profile">
    <div class="profile-intro">
        <div class="profile-title">
        <h1>Keys to success</h1>
        </div>
        <div></div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam ex nisi molestiae et quo! Deserunt illo dolorem aspernatur qui nesciunt aliquid voluptate saepe ut dolore alias quia harum, at eaque?
        Modi vel quos ipsum molestias consectetur fugiat dolore illo optio voluptatem nostrum! Consequuntur beatae quibusdam repellendus facilis pariatur. 
        </p>
        </div>

    </div>
</section>

<section class="profile-containers">
    <div class="my-blocks">
        <!-- change all links etc --> 
        <div class="block">
            <div class="column">
                <img class="profile-images" src="/images/logo.png" alt="recipe-image">
                <h3>Plan ahead</h3>
                <p> Busy week ahead? Planning your meals during the week will take of this stressor and this means you'll have more mental space for things that matter.Busy week ahead? Planning your meals during the week will take of this stressor and this means you'll have more mental space for things that matter.</p>
                <!-- <a href="/blog1"><button class="log-sign-btn">Read more</button></a> -->
            </div>
        </div>
        <br>


        <div class="block">
            <div class="column">
                <img class="profile-images" src="/images/logo.png" alt="recipe-image">
                <h3>Plan ahead</h3>
                <p> Busy week ahead? Planning your meals during the week will take of this stressor and this means you'll have more mental space for things that matter.Busy week ahead? Planning your meals during the week will take of this stressor and this means you'll have more mental space for things that matter.</p>
                <!-- <a href="/blog1"><button class="log-sign-btn">Read more</button></a> -->
            </div>
        </div>
        <br>

        <div class="block">
            <div class="column">
                <img class="profile-images" src="/images/logo.png" alt="recipe-image">
                <h3>Plan ahead</h3>
                <p> Busy week ahead? Planning your meals during the week will take of this stressor and this means you'll have more mental space for things that matter.Busy week ahead? Planning your meals during the week will take of this stressor and this means you'll have more mental space for things that matter.</p>
                <!-- <a href="/blog1"><button class="log-sign-btn">Read more</button></a> -->
            </div>
        </div>
        <br>

</div>

<section class="profile-containers">
    <div class="my-blocks">
        <!-- change all links etc --> 
        <div class="block">
            <div class="column">
                <img class="profile-images" src="/images/logo.png" alt="recipe-image">
                <h3>Plan ahead</h3>
                <p> Busy week ahead? Planning your meals during the week will take of this stressor and this means you'll have more mental space for things that matter.Busy week ahead? Planning your meals during the week will take of this stressor and this means you'll have more mental space for things that matter.</p>
                <!-- <a href="/blog1"><button class="log-sign-btn">Read more</button></a> -->
            </div>
        </div>
        <br>


        <div class="block">
            <div class="column">
                <img class="profile-images" src="/images/logo.png" alt="recipe-image">
                <h3>Plan ahead</h3>
                <p> Busy week ahead? Planning your meals during the week will take of this stressor and this means you'll have more mental space for things that matter.Busy week ahead? Planning your meals during the week will take of this stressor and this means you'll have more mental space for things that matter.</p>
                <!-- <a href="/blog1"><button class="log-sign-btn">Read more</button></a> -->
            </div>
        </div>
        <br>

        <div class="block">
            <div class="column">
                <img class="profile-images" src="/images/logo.png" alt="recipe-image">
                <h3>Plan ahead</h3>
                <p> Busy week ahead? Planning your meals during the week will take of this stressor and this means you'll have more mental space for things that matter.Busy week ahead? Planning your meals during the week will take of this stressor and this means you'll have more mental space for things that matter.</p>
                <!-- <a href="/blog1"><button class="log-sign-btn">Read more</button></a> -->
            </div>
        </div>
        <br>

</div>


</div>

</section>

