  <link rel="stylesheet" href="/stylesheets/style.css" /> 


<!-- CHANGE ALL THE CLASSES ETC! --> 

<section class="profile">
    <div class="profile-intro">
        <div class="profile-title">
        <h1>Keys to success</h1>
        </div>
        <div></div>
        <p>Keys to success in meal planning include setting realistic goals, creating a weekly meal plan that balances your nutritional needs and preferences, and prioritizing meal prep to make healthy eating convenient and achievable. By incorporating these habits into your routine, you can set yourself up for success in achieving your nutrition and health goals.
        </p>
        </div>

    </div>
</section>

<section class="profile-containers">
    <div class="my-blocks">
        <!-- change all links etc --> 
        <div class="block">
            <div class="column">
                <img class="profile-images" src="/images/logo.png" alt="recipe-image">
                <h3>Save time and money</h3>
                <p> Meal planning allows you to create a shopping list based on your planned meals, which can help you avoid impulse purchases and save money. 
                    Additionally, by planning your meals in advance, you can save time by reducing the number of trips to the grocery store.</p>
                <!-- <a href="/blog1"><button class="log-sign-btn">Read more</button></a> -->
            </div>
        </div>
        <br>


        <div class="block">
            <div class="column">
                <img class="profile-images" src="/images/logo.png" alt="recipe-image">
                <h3>Healthier eating</h3>
                <p> BWhen you plan your meals, you have more control over the ingredients you use and the portions you serve, making it easier to make healthier choices. Planning also helps you avoid last-minute fast food or takeout, which are often less healthy options.</p>
                <!-- <a href="/blog1"><button class="log-sign-btn">Read more</button></a> -->
            </div>
        </div>
        <br>

        <div class="block">
            <div class="column">
                <img class="profile-images" src="/images/logo.png" alt="recipe-image">
                <h3>Less food waste</h3>
                <p> When you plan your meals, you can use up ingredients that may otherwise go to waste. You can also plan to use leftovers in future meals, reducing the amount of food you throw away.</p>
                <!-- <a href="/blog1"><button class="log-sign-btn">Read more</button></a> -->
            </div>
        </div>
        <br>

</div>

<section class="profile-containers">
    <div class="my-blocks">
        <!-- change all links etc --> 
        <div class="block">
            <div class="column">
                <img class="profile-images" src="/images/logo.png" alt="recipe-image">
                <h3>Increases variety</h3>
                <p>Meal planning allows you to incorporate a variety of different foods into your diet, helping you avoid getting stuck in a rut of eating the same meals over and over.</p>
                <!-- <a href="/blog1"><button class="log-sign-btn">Read more</button></a> -->
            </div>
        </div>
        <br>


        <div class="block">
            <div class="column">
                <img class="profile-images" src="/images/logo.png" alt="recipe-image">
                <h3>Reduces stress</h3>
                <p> When you plan your meals in advance, you eliminate the stress of deciding what to cook for each meal. This can help reduce mealtime stress and allow you to enjoy your food more.</p>
                <!-- <a href="/blog1"><button class="log-sign-btn">Read more</button></a> -->
            </div>
        </div>
        <br>

        <div class="block">
            <div class="column">
                <img class="profile-images" src="/images/logo.png" alt="recipe-image">
                <h3>Achieve your goals</h3>
                <p> Whether your goal is to lose weight, gain muscle, or simply eat a more balanced diet, meal planning can help you stay on track by ensuring you have the right types and amounts of food on hand to support your goals.</p>
                <!-- <a href="/blog1"><button class="log-sign-btn">Read more</button></a> -->
            </div>
        </div>
        <br>

</div>


</div>

</section>

