body{
	margin: 0;
	padding: 0;
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
 /* background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e); */ 
 /* background: linear-gradient(109.6deg, rgb(251, 250, 225) 11.2%, rgb(206, 240, 185) 47.5%, rgb(100, 163, 111) 100.2%); */ 
    background: linear-gradient(to bottom, rgb(227,223,220) 11.2%, rgb(227,223,220) 11.2%, rgb(149,156,129) 100.2%);
    color: white
} 


