.recipe-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 5px solid black;
    background-color: red;
}

#recipe-name{
    padding-top: 15px;
    padding-bottom: 15px;
}

.card {
    height:90vh;
    text-align: center;
    justify-content: center;
    margin-top:10px;
}