
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body {
 /* font-family: 'Pacifico', cursive;
  font-family: 'Roboto', sans-serif; */ 
  font-family: 'Poppins';
}

body {
  font-family: 'Pacifico', cursive;
  font-family: 'Roboto', sans-serif;font-family: 'Poppins';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.7;
  color: #777;
  background: #C1E1C1;
}
  /* background: linear-gradient(to bottom, rgb(251, 250, 225) 11.2%, rgb(206, 240, 185) 47.5%, rgb(100, 163, 111) 100.2%); */
  /* background: linear-gradient(to bottom, rgb(227,223,220) 11.2%, rgb(227,223,220) 11.2%, rgb(149,156,129) 100.2%); */
  
  /* padding:20px; */ 

.container {
  margin-top: 10px;
}

.nav {
  background-color: #FFFAF1;
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  /* padding: 0.5rem 0rem; */
  color: black;
}


.navigation-menu {
  margin-left: auto;
}
.navigation-menu ul {
  display: flex;
  padding: 0;
  margin: 0;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}
.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  
}
.navigation-menu li a button {
  border: none;
  padding: 0;
  background: none;
  
}
.header {
  height: 95vh;
  /* 
  background-image: linear-gradient(
    to right bottom,
    rgba(37, 26, 123, 0.8),
    rgba(20, 17, 77, 0.8)),
    url('/images/pineapple-unsplash.jpg'); */
    background-image: url('/images/pineapple-unsplash.jpg');
  background-position: top;
  background-size: cover;
  /* now, we clip it to create a polygon. x y top left, x y top right, x y bottom right, x y bottom left */
   /* clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);  */
}

h1 {
  font-family: 'Poppins';
}

.logo-box {
  width: 100vw;
  margin-top: 15px;
  /* position: absolute; */ 
  /* top: 40px;
  left:40px; */ 
}

.logo {
  height: 7vw;
  width: 60px;
  height: auto;
}

.container {
  display: flex;

}
.title-container{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* heading primary */
.main-title {
  color: white;
  text-transform: uppercase;
  margin-bottom:5vh;
  padding-top: 50px;
}

/* heading-primary-main */
.main-title-primary{
  display: block;
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 35px;
  padding-bottom: 40px;

  animation: slideRight 3s ease-out;
}
/* heading-primary-sub */
.main-title-secondary{
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17px;
  animation: slideLeft 3s ease-out;
}

@keyframes slideRight {
0% {
  opacity: 0;
  transform: translateX(100px);
}
80% {
  transform: translateX(-15px);
}
100% {
  opacity: 1;
  transform: translateX(0);
}
}
@keyframes slideLeft {
0% {
  opacity: 0;
  transform: translateX(-100px);
}
80% {
  transform: translateX(15px);
}
100% {
  opacity: 1;
  transform: translateX(0);
}
}
/* Buttons */
.log-sign-btn-container {
  display: flex;
  flex-direction: column;
}

.log-sign-btn {
  position: relative;
  overflow: hidden;
  padding: 12px 25px;
  margin: 0px 3px 6px;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  /* z-index: 0; */ 
  animation: rainbow-btn-home 5s linear infinite;
  justify-content: center;

} 

.log-sign-btn::before {
  position: absolute;
  content: "";
  background: rgb(68, 79, 167);
  transition-duration: 0.3s;
  z-index: -1;
  inset: 0px auto auto 0px;
  width: 0px;
  height: 100%;
  opacity: 1;
  border: 1px solid rgb(255, 255, 255);
} 


.log-sign-btn:hover::before {
  width: 100%;
  height: 100%;
  opacity: 0.5;
} 


.log-sign-btn:hover {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  transition: all 0.3s ease 0s;
} 

/*

@keyframes rainbow-btn-home {
  0% {
    background-image: linear-gradient(rgba(26, 123, 66, 0.8), rgba(17, 75, 77, 0.8))
  }
  25% {
    background-image: linear-gradient(rgba(57, 188, 179, 0.8), rgba(163, 52, 167, 0.8))
  }
  50% {
    background-image: linear-gradient(rgba(124, 111, 219, 0.8), rgba(181, 85, 112, 0.8))
  }
  75% {
    background-image: linear-gradient(rgba(199, 168, 58, 0.8), rgba(215, 121, 70, 0.8))
  }
  100% {
    background-image: linear-gradient(rgba(131, 50, 189, 0.8), rgba(31, 66, 119, 0.8))
  }
  
}
*/ 
#login-form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.7;
    color: #777;
    padding:20px;
  } 
 /* 
  .header {
    height: 95vh;
    background-image: linear-gradient(
      to right bottom,
      rgba(37, 26, 123, 0.8),
      rgba(20, 17, 77, 0.8)),
      url('../images/big-home-img.jpg');
    background-position: top;
    background-size: cover;
    /* now, we clip it to create a polygon. x y top left, x y top right, x y bottom right, x y bottom left 
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); 
  }
*/
.section-about {
  color: black;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom, rgb(227,223,220) 11.2%, rgb(227,223,220) 11.2%, rgb(149,156,129) 100.2%);

}

.h2-title-about {
  font-size:7em;
  text-align: center;
  padding-top: 50px;

}

.section-about-title1 {
  font-size: 3em;
}
.paragraph {
  font-size: 2em;
}
.section-about-text-container {
  width:40%;
  margin: 20px;
  text-align: center;
}
.section-about-article {
  margin: 30px 20px 30px 40px;
}
.learn-more-btn {
    width: 50%;
    height: 40px;
    margin: 40px auto;   
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 2em;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
  }
  
  .learn-more-btn:hover{
    background: #6d44b8;
  }
  
.section-about-middle {
  display: flex;
  flex: auto;
  justify-content: space-around;
  align-items: center;
}

.section-about-images-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;

}


.about-images {
  height: auto;
  width: 30%;
}

/* profile page */ 

.profile {
  text-align: center;
  color: #777;
  margin-top: 50px;
}

.profile-intro {
  margin-left: 20%;
  margin-right: 20%;
}

.my-blocks {
  display: flex;
  justify-content: space-evenly;
	align-items: center;
  /* height: 500px; */ 
}

.block{
	width: 33,33%;
	height: auto;
	/* overflow: hidden; */ 
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
  margin: 30px;
  text-align: center;
  background-color: #FFFAF1;
}
.block:hover {
  transform: translate3D(0,-1px,0) scale(1.03); 
  box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  transition: all .4s ease; 
  cursor: pointer;
}

.column {
  padding: 40px;
  height:auto;

}

.profile-images {
  width: 100px;
}

.edit-profile-btn {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
}

/* login and sign-up pages */ 

#login-sign-up-form{
	width: 350px;
	height: 500px;
	/* overflow: hidden; */ 
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #0000005c;
  margin: auto;
}
*/

.login{
	position: relative;
	width:100%;
	height: 100%;
}

.titles {
    margin: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;

}

label{
	color: #fff;
	font-size: 1em;
	justify-content: center;
	display: flex;
	margin: 25px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

input{
	width: 70%;
	background: #e0dede;
	justify-content: center;
	display: flex;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	/* width: 60%; */ 
	height: 40px;
	margin: 40px auto;  
	justify-content: center;
	/* display: block; */
	/* color: #fff; */
	/* background: #573b8a; */ 
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

button:hover{
	background: #6d44b8;
}

.sign-up-link {
    color:#896ebb
}


/* sign up page */ 

#form{
	width: 350px;
	height: 500px;
	/* overflow: hidden; */ 
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #0000005c;
  margin: auto;
}
*/

.signup{
	position: relative;
	width:100%;
	height: 100%;
}

.log-in-link {
  color:#896ebb
}

.footer {
  background-color: #FFFAF1;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  align-items: center;s
  color: black;
}
