

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
 /* font-family: 'Pacifico', cursive;
  font-family: 'Roboto', sans-serif; */ 
  
  font-weight: 400;
  font-size: 10px;
  line-height: 1.7;
  color: #777;
  background-color: pink;
  /* padding:20px; */ 
} 

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

/*
.navigation-menu {
  margin-left: auto;
}
.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}
.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}
*/

.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba(37, 26, 123, 0.8),
    rgba(20, 17, 77, 0.8)),
    url('../images/big-home-img.jpg');
  background-position: top;
  background-size: cover;
  /* now, we clip it to create a polygon. x y top left, x y top right, x y bottom right, x y bottom left */
  /* clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); */
}

.container{
  margin-left: 5%;
  margin-right: 5%;
}

/* Navbar section */

.nav{
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  background-color: rgba(0,0,255,0.8);
}

.nav div.logo{
  width: 180px;
  height: 10px;
  position: absolute;
}

.nav div.logo a{
  text-decoration: none;
  color: #fff;
  font-size: 1.8em;
  text-transform: uppercase;
}

.nav div.logo a:hover {
  color: #c0c0c0;
}

.nav div.navigation-menu{
  width: 600px;
  height: 65px;
  float: right;
}

.nav div.navigation-menu ul{
  width:100%;
  height: 65px;
  display: flex;
  list-style: none;
}

.nav div.navigation-menu ul li{
  width: 120px;
  height: 65px;
}

.nav div.navigation-menu ul li a{
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  text-transform: uppercase;
}

.nav div.navigation-menu ul li a:hover{
  color: #c0c0c0;
}

.nav div.media_button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 12px;
  display: none;
}

.nav div.media_button button.main_media_button {
  width: 100%;
  height: 100%;
  background-color: transparent;;
  outline: 0;
  border: none;
  cursor: pointer;
}

.nav div.media_button button.main_media_button span{
  width: 98%;
  height: 1px;
  display: block;
  background-color: #fff;
  margin-top: 9px;
  margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1){
  transform: rotateY(180deg);
  transition: all 0.5s;
  background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2){
  transform: rotateY(180deg);
  transition: all 0.4s;
  background-color: #c0c0c0;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3){
  transform: rotateY(180deg);
  transition: all 0.3s;
  background-color: #c0c0c0;
}

.nav div.media_button button.active span:nth-of-type(1) {
  transform: rotate3d(0, 0, 1, 45deg);
  position: absolute;
  margin: 0;
}

.nav div.media_button button.active span:nth-of-type(2) {
  display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
  transform: rotate3d(0, 0, 1, -45deg);
  position: absolute;
  margin: 0;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
  transform: rotate3d(0, 0, 1, 20deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
  transform: rotate3d(0, 0, 1, -20deg);






h1 {
  font-family: 'Poppins';
}
.logo-box {
  position: absolute;
  top: 40px;
  left:40px;
}

.logo {
  height: 7vw;
}

.navbar-link{
  height: 500px;
  background-color: white;
}

.title-container{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* heading primary */
.main-title {
  color: white;
  text-transform: uppercase;
  margin-bottom:5vh;
}

/* heading-primary-main */
.main-title-primary{
  display: block;
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 35px;

  animation: slideRight 3s ease-out;
}
/* heading-primary-sub */
.main-title-secondary{
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17px;
  animation: slideLeft 3s ease-out;
}

@keyframes slideRight {
0% {
  opacity: 0;
  transform: translateX(100px);
}
80% {
  transform: translateX(-15px);
}
100% {
  opacity: 1;
  transform: translateX(0);
}
}
@keyframes slideLeft {
0% {
  opacity: 0;
  transform: translateX(-100px);
}
80% {
  transform: translateX(15px);
}
100% {
  opacity: 1;
  transform: translateX(0);
}
}
/* Buttons */
.log-sign-btn-container {
  display: flex;
  flex-direction: column;
}

.log-sign-btn {
  position: relative;
  overflow: hidden;
  padding: 12px 25px;
  margin: 0px 3px 6px;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  z-index: 0;
  animation: rainbow-btn-home 5s linear infinite;;

} 

.log-sign-btn::before {
  position: absolute;
  content: "";
  background: rgb(68, 79, 167);
  transition-duration: 0.3s;
  z-index: -1;
  inset: 0px auto auto 0px;
  width: 0px;
  height: 100%;
  opacity: 1;
  border: 1px solid rgb(255, 255, 255);
} 


.log-sign-btn:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
} 


.log-sign-btn:hover {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  transition: all 0.3s ease 0s;
} 

@keyframes rainbow-btn-home {
  0% {
    background-image: linear-gradient(rgba(26, 123, 66, 0.8), rgba(17, 75, 77, 0.8))
  }
  25% {
    background-image: linear-gradient(rgba(57, 188, 179, 0.8), rgba(163, 52, 167, 0.8))
  }
  50% {
    background-image: linear-gradient(rgba(124, 111, 219, 0.8), rgba(181, 85, 112, 0.8))
  }
  75% {
    background-image: linear-gradient(rgba(199, 168, 58, 0.8), rgba(215, 121, 70, 0.8))
  }
  100% {
    background-image: linear-gradient(rgba(131, 50, 189, 0.8), rgba(31, 66, 119, 0.8))
  }
  
}

#login-form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.7;
    color: #777;
    padding:20px;
  } 
 /* 
  .header {
    height: 95vh;
    background-image: linear-gradient(
      to right bottom,
      rgba(37, 26, 123, 0.8),
      rgba(20, 17, 77, 0.8)),
      url('../images/big-home-img.jpg');
    background-position: top;
    background-size: cover;
    /* now, we clip it to create a polygon. x y top left, x y top right, x y bottom right, x y bottom left 
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); 
  }
*/
.section-about {
  color: black;
  font-family: 'Roboto', sans-serif;

}

.h2-title-about {
  font-size:7em;
  text-align: center;

}

.section-about-title1 {
  font-size: 3em;
}
.paragraph {
  font-size: 2em;
}
.section-about-text-container {
  width:40%;
  margin: 20px;
  text-align: center;
}
.section-about-article {
  margin: 30px 20px 30px 40px;
}
.learn-more-btn {
    width: 50%;
    height: 40px;
    margin: 40px auto;   
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 2em;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
  }
  
  .learn-more-btn:hover{
    background: #6d44b8;
  }
  
.section-about-middle {
  display: flex;
  flex: auto;
  justify-content: space-around;
  align-items: center;
}

.section-about-images-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;

}


.about-images {
  height: auto;
  width: 30%;
}
