<h2>edit the recipe</h2>

<form action="/" method="post">   {{!-- change route (TBC) --}}

  <label for="name">Name</label>
  <input type="text" name="name" id="name" />

  <label for="ingredients">Ingredients</label>
  <input type="text" name="ingredients" id="ingredients" />

  <label for="instructions">Instructions</label>
  <input type="text" name="instructions" id="instructions" />

  <button type="submit">Create</button>
 
</form>