<h1> MY RECIPES </h1>


<p>2</p>

<a href="/profile/my-recipes"><button>My recipes</button></a>

<br>

<a href="/profile/my-mealplans"><button>My Mealplans</button></a>

<br>

<a href="/profile"><button>back to profile page</button></a>