<h1> MY RECIPES </h1>


<p>2</p>

<a href="/"><button>Home page</button></a>

<br>


<a href="/profile"><button>Profile page</button></a>

<br>
{{!-- --------------------------------------------------------------- --}}

<h2>RECIPE NAME 1</h2>
{{#each data}}
<h2>{{recipe.label}}</h2>

<p>{{recipe.ingredients}}</p>


{{/each}}